body {
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

.game-button {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-button:hover {
    background-color: #2980b9;
}
